# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
.DS_Store

# YOLOv8 temporary files
runs/
runs/*
runs/detect/
runs/detect/*

# Codespaces-specific
*.code-workspace
