# Virtual environment
venv/
.env
*.pyc
__pycache__/

# Dataset & Model files
runs/
*.tfrecord

# Logs & Temporary Files
logs/
*.log
debug.log
.DS_Store

# IDE & System Files
.vscode/
*.swp
*.swo
*.swn

# YOLO & Object Detection
*.pt
runs/*
